*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: black;
}
header{
    height: 66px;
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    box-shadow: 0 0 5px ;
}
img.logo{
    height: 42px;
    margin-top: 10px;
    margin-left: -300px;

}
ul{
    list-style: none;
    display: inline-flex;
    position: relative;
    gap: 22px;
    top: 63%;
    margin-right: -210px;
    transform: translateY(-29%);
}
ul li{
    font-size: 17px;
    font-weight: 700;
    height: fit-content;
    color: white;
    cursor: pointer;
    position: relative;
}
header ul li::before{
    content: '';
    background-color: greenyellow;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    
}

header ul li:hover::before{
    width: 100%;
    }
    section{
        margin-top: 25px;
    }
section div{
    width: 500px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 9%;
    color: white;
    transform: translateY(-90%);
    font-size: larger;
}
section div h1{
    margin-bottom: 10px;
    font-size: 39px;
}
section div p{
    margin-bottom: 20px;
    width: 600px;
    padding:6px 0;
}
section div a{
    padding: 9px;
    width: 130px;
    border-radius: 12px;
    /* margin-top: 50px; */
    border-style: none;
    color: black;
    /* box-shadow: 0 0 4px inset; */
    font-weight: 550;
    transition: 0.5s;  
    text-decoration: none;
    background-color: white;

}


section div a:hover{
color: white;
background-color: green;
}
img.mainIphone{
    /* height: 370px; */
    width: 260px;
    position: relative;
    /* right: -62%; */
    left: 70%;
    margin-top: 0px;
}

footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    gap: 30px;
}
/* #gold{
    transform: scale(1.12);
} */
.curs{
    cursor: pointer;
    width: inherit;
    transition: 0.5s;
}
.curs:hover{
    transform: scale(1.109);
}
